/* HABILIDADES */
.habilidades .container-habilidades {    
    text-align: center;    
    display: flex;
    justify-content: space-evenly; /* Distribui os itens igualmente */
    flex-wrap: wrap; /* Permite quebra de linha */
    gap: 10px; /* Reduzi o espaçamento entre os itens para deixá-los mais juntos */
}

.habilidades .container-habilidades .informacoes{
    flex: 1 1 calc(50% - 40px); /* Define largura para 2 itens por linha com espaçamento */
    max-width: 350px;
    padding: 20px 10px; /* Reduzi o padding para compactar os itens */   
}

.habilidades .container-habilidades .informacoes p,
.habilidades .container-habilidades .informacoes h3,
.habilidades .container-habilidades .informacoes .logo i{
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.habilidades .container-habilidades .informacoes:hover p,
.habilidades .container-habilidades .informacoes:hover h3,
.habilidades .container-habilidades .informacoes:hover .logo i{
    color: var(--cor-primaria);
}

.habilidades .container-habilidades .informacoes h3 {
    font-size: var(--fonte-extra-grande);
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--cor-primaria);      
}

.habilidades .container-habilidades .informacoes p {
    font-size: 1.8rem;
    font-family: var(--fonte-secundaria);
}

.habilidades .container-habilidades .informacoes .logo i {
    font-size: 8rem;
}